@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');
* {
    margin: 0;
}

.top {
    /*height: 200px;*/
    background-color: rgb(26, 28, 32);
    color: rgb(240, 165, 0);
    z-index: -3;
    height: 100vh;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 11px;
    transform-style: preserve-3d;
}


/*------------------ header -------------------------------*/

.header {
    overflow: hidden;
    padding: 10px 10px 0px 10px;
    animation: pulse 8s infinite;
    animation-iteration-count: 2;
    background-color: rgb(76, 76, 76);
}

@keyframes pulse {
    2% {
        background-color: rgb(225, 222, 222);
    }
    3% {
        background-color: rgb(76, 76, 76);
    }
    15% {
        background-color: rgb(76, 76, 76);
    }
    50% {
        background-color: rgb(0, 0, 0);
    }
    80% {
        background-color: rgb(0, 0, 0);
    }
    81% {
        background-color: rgb(198, 196, 196);
    }
    90% {
        background-color: rgb(0, 0, 0);
    }
    100% {
        background-color: rgb(0, 0, 0);
    }
}

.header a {
    font-family: 'East Sea Dokdo', cursive;
    float: left;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 15px;
    padding-top: 20px;
    text-decoration: none;
    font-size: 40px;
    line-height: 25px;
    border-radius: 4px;
}

.me {
    background-color: #4b4b4b;
    border-radius: 100%;
    font-size: 25px;
    height: 105px;
    width: 80px;
    margin-left: 400px;
}

.header a:hover {
    background-color: rgb(189 172 142);
    color: black;
}

.header a.active {
    background-color: rgb(240, 165, 0);
    color: rgb(0, 0, 0);
}

.header-right {
    float: right;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
    }
}

header {
    background-color: rgb(10, 10, 10);
    position: relative;
    height: 120px;
    transition: all 0.5s ease-in-out;
}

.head-img {
    background-color: rgb(26, 28, 32);
    border-radius: 100%;
    position: absolute;
    height: 115px;
    width: 80px;
    bottom: 0px;
    left: 400px;
}


/*------------------ logo -------------------------------*/

.logo {
    z-index: 3;
    position: absolute;
    top: 80px;
    left: 650px;
    z-index: 3;
    opacity: 0.5;
    max-width: 500px;
    max-height: 500px;
    mix-blend-mode: lighten;
}


/*------------------ cloud -------------------------------*/

.cloud {
    width: 180px;
    z-index: 3;
}


/*----------- 1st row clouds-----------*/

.opc {
    mix-blend-mode: exclusion;
    opacity: 0.01;
}

.smpad {
    padding-left: 200px;
}

.toprt {
    padding-left: 200px;
}


/*----------- 2nd row clouds-----------*/

.second {
    width: 280px;
    padding-top: 20px;
}

.lgpad {
    padding-left: 20px;
}

.rtpad {
    padding-left: 10px;
    padding-right: 60px;
}


/*------------ 3rd row clouds-----------*/

.third {
    width: 350px;
    padding-top: 40px;
}

.space {
    padding-left: 560px;
}

.lside {
    padding-left: 160px;
}


/*------------------name desc -------------------------------*/

.name {
    transform: translateZ(5px) scale(0.7);
    font-family: 'Great Vibes', cursive;
    position: absolute;
    top: 400px;
    margin-left: 680px;
    font-size: 120px;
    z-index: 2;
}

.desc {
    font-family: 'East Sea Dokdo', cursive;
    font-size: 45px;
    margin-left: 805px;
    top: 515px;
}


/*------------------ lightning -------------------------------*/

.lightning {
    max-height: 100px;
    max-width: 200px;
    z-index: 2;
}

.lightpadlt {
    padding-left: 300px;
}

.lightpadrt {
    padding-right: 300px;
}

.lightning-sm {
    max-height: 75px;
    max-width: 150px;
    z-index: 4;
}

.top i {
    position: absolute;
    top: -250px;
    background: rgba(255, 255, 255, 0.5);
    animation: animateStars linear infinite;
}

@keyframes animateStars {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(120vh);
    }
}


/*------------------ mountians -------------------------------*/

.mtn {
    transform-style: preserve-3d;
    height: 650px;
    width: 70%;
}

.center {
    padding-left: 250px;
    padding-top: 100px;
    height: 440px;
    width: 70%;
    opacity: 0.3;
    z-index: -3;
    transform: translateZ(-7px) scale(2.5);
}

.side {
    position: absolute;
}

.right {
    z-index: 1;
    right: -640px;
    top: 390px;
    width: 1000px;
    height: 49%;
    transform: translateZ(-1px) scale(1.65);
}

.left {
    z-index: 1;
    top: 480px;
    right: 1400px;
    width: 1000px;
    height: 45%;
    transform: translateZ(-1px) scale(1.65);
}


/*------------------ rocks -------------------------------*/

.rocks {
    transform: translateZ(4px) scale(0.8);
    position: absolute;
    z-index: 2;
    top: 715px;
    width: 100px;
}

.rock1 {
    right: 1050px;
}

.rock2 {
    right: 990px;
}

.rock3 {
    right: 920px;
}

.rock4 {
    right: 840px;
}

.rock5 {
    right: 760px;
}

.rock6 {
    right: 700px;
}

.rock7 {
    right: 630px;
}


/*------------------ middle -------------------------------*/

.middle {
    height: 200px;
    /*background-color: rgb(207, 117, 0);*/
    background-color: rgb(189 172 142);
    /*color: rgb(204, 204, 204);*/
    color: rgb(26, 28, 32);
    z-index: 4;
}


/*------------------ bottom -------------------------------*/

.bottom {
    height: 200px;
    color: rgb(26, 28, 32);
    background-color: rgb(240, 165, 0);
    z-index: 4;
}

footer {
    height: 200px;
    color: rgb(210, 210, 210);
    background-color: rgb(207, 117, 0);
    z-index: 4;
}

img {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}