body {
    background-color: rgb(46, 46, 46);
    color: rgb(207, 207, 207);
}

.headtab {
    background-image: url(/imgs/kersh-logo.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 30%;
    background-blend-mode: luminosity;
}

.gold {
    color: rgb(214, 183, 124);
}

.white {
    color: rgb(255, 255, 255);
}

.mepic {
    height: 180px;
    width: 180px;
    border-radius: 100%;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(214, 183, 124);
    color: rgb(0, 0, 0);
}